<div class="panel-footer">
    <div class="container-fluid">
        <h3>Eldor Togaymurotov &copy 
            <span class="footer-clock">{{displayTimeAndDate}} Copyright all rights reserved.</span>
        </h3>
    </div>
</div>