<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="http://localhost:1987/images/e-logo.gif" class="img-responsive img-circle" width="30px" height="10px;"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/"><i class="fa fa-home"></i></a>
                </li>
                <li>
                    <a href="/about"><i class="fa fa-user"></i></a>
                </li>
                <li>
                    <a href="/portfolio"><i class="fa fa-archive"></i></a>
                </li>
                <li>
                    <a href="/skills"><i class="fa fa-certificate"></i></a>
                </li>
                <li>
                    <a href="/gallery"><i class="fa fa-file-photo-o"></i></a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-th"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/movie"><i class="fa fa-film"></i></a>
                        </li>
                        <li>
                            <a href="/zodiac"><i class="fa fa-soundcloud"></i></a>
                        </li>
                        <li>
                            <a href="/bookfinder"><i class="fa fa-book"></i></a>
                        </li>
                        <li><a href="/calendar"><i class="fa fa-calendar"></i></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-phone-alt"></span></a>
                        </li>
                        <li>
                            <a href="/camera">
                                <i class="fa fa-video-camera"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-user"></span></a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-log-in"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>