<!DOCTYPE html>
<html lang="en">
<head>
<title>Eldor Togaymurotov</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    {{> _navbar}}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="http://localhost:1987/images/eldorado.png" class="img-responsive">
            </div>
            <div class="col-md-6">
                <h1>About me</h1>
                <blockquote>
                     Hello, My name is Eldor. I'm specialized in Full-Stack Web Application Development. I use Nodejs, Express and MongoDB for back-end (server-side) development and JavaScript, jQuery, React, Handlebars, HTML and CSS/Bootstrap for front-end (client-side) development.
                     <br>
                     I mostly focus on functionality rather than styling web applications. I'm JavaScript Developer, but I'm willing to learn C++ since JavaScript Engine built by C++.
                     <br>
                     Nowadays, I'm more interested in machine languages such as Python and C++. 
                     <br>
                     <br>
                     Eldor Togaymurotov
                    <h2>
                        <span>
                            <a href="https://www.facebook.com/eldor.togaymurotov">
                                <i class="fa fa-facebook-official"></i>
                            </a>
                        </span>
                        <span>
                            <a href="https://www.instagram.com/eldorabdimuminovich/?hl=en">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </span>
                        <span>
                            <a href="https://twitter.com/eldor2887">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </span>
                    </h2>
                </blockquote>
            </div>
        </div>
    </div>
    {{> _footer}}
</body>
</html>